.exerciseBodyCard {
  width: 100%;
  background: var(--secondaryColor);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 2rem;
}

.exerciseBodyCard img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  border: 2px solid var(--secondaryColor);
}

.exerciseBodyCard h2 {
  text-align: center;
  color: white;
  padding: .5rem;
}
