.exerciseBodyCard {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--secondaryColor);
  border-radius: 1.5rem;
}

.exerciseBodyCard:hover {
  opacity: 0.8;
  cursor: pointer;
}

.exerciseBodyCard img {
  width: 200px;
  height: auto;
  border-radius: 1.5rem;
}

.exerciseBodyCard div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 3px solid var(--secondaryColor);
  padding: 0.5rem;
}
.exerciseBodyCard div h4 {
  font-size: 1.5rem;
}

.exerciseBodyCard div p {
  font-size: 1.25rem;
}