.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -3px 7px 5px -3px rgba(0, 0, 0, 0.75);
  margin-top: 2rem;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.25rem;
  height: 100%;
  background-color: var(--primaryColor);
  border: 2px solid transparent;
}

.cardBody h3 {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.cardBody:hover {
  opacity: 0.8;
  border: 2px solid black;
}

@media (max-width: 578px) {
  .cardBody {
    width: 300px;
    font-size: 1.5rem;
  }
}
