.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: -3px 7px 5px -3px rgba(0, 0, 0, 0.75);
  margin-top: 2rem;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  border: 2px solid transparent;
}

.cardBody:hover {
  opacity: 0.8;
  border: 2px solid black;
  cursor: pointer;
}