.articleHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.headerHome {
  text-align: center;
  min-height: 25vh;
  padding: 2rem;
  background-color: #8E6BBF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerHome h1 {
  color: white;
}

.headerHome:first-child h2{
  font-weight: 400;
  color: white;
}

.titleBox{
  display: flex;
  align-items: center;
}

.headerHome button {
  margin-top: 1rem;
}

.imgHome {
  width: 100%;
}

.sectionTitle, .aboutTitle, .contactTitle{
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondaryColor);
  text-align: center;
}

.aboutDescription{
  margin-top: 1rem;
  font-size: 1.5rem;
}

button:hover{
  background-color: black !important;
}


@media screen and (max-width: 768px) {
  .titleBox{
    flex-direction: column;
  }

  .aboutDescription{
    text-align: center;
  }
}