.itemCard {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  box-shadow: -3px 7px 6px 2px rgba(82, 34, 208, 1);
}

.itemCard:hover {
  cursor: pointer;
  opacity: 0.8;
}

.itemCard div:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem 2rem;
}

.itemCard  > div:nth-child(2) h3 {
  font-size: 1.5rem;
}

.itemCard  > div:nth-child(2) p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.itemImage {
  width: 200px;
  height: 100%;
}
