.gridArticle {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 2rem;
}

.gridArticle section:nth-child(1) {
  flex: 60%;
}

.gridArticle section:nth-child(2) {
  display: flex;
  flex: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

.itemsGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 2.5rem;
  justify-content: center;
}

.imgBackground {
  width: 800px;
  margin-bottom: 2.5rem;
}

@media (max-width: 578px) {
  .gridArticle {
    flex-direction: column;
    margin: 0 2rem 0 2rem;
  }

  .itemsGrid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }

  .imgBackground {
    display: none;
  }
}
