.card {
  width: 100%;
  height: 275px;
  transition: all 300ms;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid var(--primaryColor);
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.title {
  font-size: 1.75rem;
  color: var(--primaryColor);
}

.textSubtitle{
  font-size: 1.5rem;
  font-weight: 400;
}

.description{
  font-size: 1.25rem;
}

.title, .textSubtitle, .description{
  text-align: center;
  padding: .25rem;
}

.boxModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-height: calc(100vh - 10px);
  overflow-y: auto;
  border: 3px solid var(--primaryColor) !important;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: .5rem;
}

.imgBackground {
  width:100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  
  .card{
    margin-top: 1.5rem;
    height: 350px;
  }

  .boxModal{
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  
  .card{
    margin-top: 1.5rem;
    height: 400px;
  }

}