.gridArticle {
  display: flex;
  flex-direction: row;
}

.itemsGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 2.5rem;
  justify-content: center;
}

.imgBackground {
  margin-top: 12rem;
}

@media (max-width: 578px) {
  .gridArticle {
    flex-direction: column;
  }

  .itemsGrid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }

  .imgBackground {
    display: none;
  }
}
