.navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.navigation div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation div:nth-child(1) {
  flex: 30%;
  justify-content: flex-start;
}

.navigation div:nth-child(1) img {
  width: 100px;
  margin-left: 0.5rem;
}

.navItems {
  flex: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.navigation a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primaryColor);
  transition: border-bottom 0.1s;
}

.navigation a:hover {
  border-bottom: 4px solid var(--secondaryColor);
}

.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.buttonContainer {
  display: none !important;
}

@media screen and (max-width: 500px){

  .list {
      flex-direction: column;
      height: auto;
  }

  .items:nth-child(1){
      margin-top: 1rem;
  }
  .items {
      width: 100%;
      text-align: center;
      padding-top: 1rem;
  }

  .navigation{
    position: fixed;
  }

  .buttonContainer {
    display: block !important;
    position: fixed;
    top: 0;
    right: 0;
  }

  .navigation div:nth-child(1) {
    display: none;
  }

  .navigation a {
    border-bottom: 4px solid transparent;
  }

  .navigation a:hover {
    border-bottom: 4px solid var(--secondaryColor);
  }

}





