
.recommendationBody{
    display: flex;
    flex-direction: row;
}

.sectionCards{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.sectionCards > * {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
}

.recommendationRightBody{
    margin-right: 3rem;
}

@media (max-width: 578px) {
    .recommendationBody{
        flex-direction: column;
    }

    .recommendationRightBody{
        margin-right: 0;
    }

    .recommendationBody section > img{
        display: none;
    }

    .sectionCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionCards > * {
        grid-template-columns: minmax(100px, 1fr);
        margin-bottom: 1.5rem;
    }
}