.articleLayoutBody {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.articleLayoutBody section:nth-child(1) img {
  width: 100%;
}

@media (max-width: 1024px) {

  .articleLayoutBody {
    flex-direction: column;
  }

}