.sectionProfile{
  display: flex;
  flex-direction: row;
}

.sectionProfile {
  margin: 0 2rem 0 2rem;
}

.sectionProfile header {
  display: flex;
  align-items: flex-start;
}

.userDataSection{
  display: flex;
  flex-direction: row;
}

.sectionProfile div:nth-child(1) h1{
  margin-bottom: 1rem;
}

.userDataSection img{
  border: 4px solid var(--secondaryColor);
}

.userDataSection div{
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 0 1.5rem;
}

.userDataSection h2{
  font-size: 2.5rem;
  font-weight: bold;
}

.userDataSection span{
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.favItems ul{
  padding: 0 !important;
}

.sectionProfile > div:nth-child(2){
  margin: 2rem 0 0 2rem;
}

@media (max-width: 578px) {

  .userDataSection, 
  .sectionProfile header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userDataSection div{
    text-align: center;
  }

  .userDataSection img{
    width: 250px;
  }

  .userDataSection div{
    margin: 1rem 0 0 0;
  }

  .sectionProfile > div:nth-child(2){
    display: none;
  }


}






