*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primaryColor: #8E6BBF;
    --secondaryColor: #2c2c44;
    --h1FontSize: 2.25rem;
}

h1{
    font-size: var(--h1FontSize);
}